:root{
    --primary-color: #FFFF;
    --secondary-color: #000000;
    --3rd-color: #CECDCD;
}
*{
    box-sizing: border-box;
    font-family: "Kufam", sans-serif;
    color: var(--primary-color);
    font-optical-sizing: auto;
    font-style: normal;
    margin: 0;
    padding: 0;
}
body { 
    background-color: #f4f4f4;
    
}
.container{
    padding: 0 30px 0;
    margin: auto;
    overflow: hidden;
}
#landing-page {
    background-image: linear-gradient(to bottom right, #3A0909, #000000);
    height: 100vh;
    background-position: center;
    background-size: cover;
}
#landing-page nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0 0;
    color: var(--secondary-color);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}
#landing-page .logo img{
    height: 60px;
    width: 60px;
    border-radius: 50%;
}
#landing-page ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
#landing-page  li {
    list-style: none;
    padding: 0px 35px 0px;

}
#landing-page a {
    color: var(--primary-color);
    font-size: 20px;
    text-decoration: none;
}
#landing-page .parent {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 55px;
}

#landing-page .home .container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;
}
#landing-page .home #title {
    font-size:36px;
    font-weight: 500px;
    margin-bottom: 30px;
}
#landing-page .home #text{
    font-size: 16px;
    line-height: 1.6;
    color: var(--3rd-color);
    margin-bottom: 30px;
}
#landing-page .home .image img {
    width: 500px;
    height: 500px;
}
#landing-page .home button {
    width: 161px;
    height: 51px;
    border-radius: 6px;
    background-color: #FFFF;
}
#landing-page .home button a p {
    font-size: 24px;
    font-weight: 500;
    color: var(--secondary-color);
}
