:root {
    --primary-color: #FFFF;
    --secondary-color: #000000;
    --3rd-color: #CECDCD;
    --4rth-color: #CBC2C2;
    --5th-color: #F60303;
}

* {
    box-sizing: border-box;
    font-optical-sizing: auto;
    font-style: normal;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Inter", sans-serif;
    color: var(--primary-color);
}

.container {
    margin: auto;
    max-width: 1300px;
}

#landing-page {
    background-image: linear-gradient(to bottom right, #3A0909, #000000);
    background-position: center;
    background-size: cover;
}

#landing-page nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0 0;
    color: var(--secondary-color);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
   
}

#landing-page .logo img {
    height: 60px;
    width: 60px;
    border-radius: 50%;
}

#landing-page nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

#landing-page nav li {
    list-style: none;
    padding: 0px 35px 0px;
}

a {
    text-decoration: none;
}

#landing-page nav a {
    color: var(--primary-color);
    font-size: 20px;
}

#landing-page .parent {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

#landing-page .home .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 35px;
}

#landing-page .home #title {
    font-size: 36px;
    font-weight: 500px;
    margin-bottom: 30px;
}

#landing-page .home #text {
    font-size: 16px;
    line-height: 1.6;
    color: var(--3rd-color);
    margin-bottom: 30px;
}

#landing-page .home .image img {
    width: 500px;
    height: 500px;
}

#landing-page .home button {
    width: 161px;
    height: 51px;
    border-radius: 6px;
    background-color:var(--primary-color);
}

#landing-page .home button a p {
    font-family: "Kufam", sans-serif;
    font-size: 24px;
    font-weight: 500;
    color: var(--secondary-color);
}

#landing-page .home button:hover {
    cursor: pointer;
}

#secondary-page,#featured-product {
    margin-top: 200px;
    height: 1200px;
    background-color: var(--primary-color);
}

#secondary-page .title h1,#featured-product .title h1{
    font-family: Orbitron;
    font-size: 32px;
    font-weight: bold;
    color: #000000;
    margin-bottom: 40px;
    text-align: center;
}
#secondary-page .categories {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2,617px);
    grid-template-rows: repeat(3,325px);
    gap: 54px;
}

#secondary-page .category {
    position: relative;
    background-color: rgba(244, 244, 244, 1);
}

#secondary-page .category h1 {
    color: #000;
    font-family: Orbitron;
    font-size: 30px;
    font-weight: 400;
    white-space: pre-line;
    position: absolute;
    top: 41px;
    left: 41px;
}

#secondary-page .category img {
    position: absolute;
    bottom: 0;
    right: 0;
}

#secondary-page .category:nth-child(1) img {
    width: 205px;
    height: 406px;
    bottom: -69px;
    right: -8px;
}

#secondary-page .category:nth-child(2) img {
    width: 200px;
    height: 293px;
}

#secondary-page .category:nth-child(3) img {
    width: 180px;
}

#secondary-page .category:nth-child(4) img {
    width: 253px;
    bottom: -16px;
}

#secondary-page .category:nth-child(5) img {
    width: 160px;
    height: 300px;
}

#secondary-page .category:nth-child(6) img {
    width: 250px;
}
#secondary-page .category .buy{
    position: absolute;
    bottom: 32px;
    left: 41px;
}
#secondary-page .category .buy img {
    width: 20px;
    height: 20px;
}

#secondary-page .category .buy p {
    font-family: Orbitron;
    font-size: 13px;
    color: #A91B1B;
}

#secondary-page .category .buy a {
    position: relative;
    display: inline-block;
    padding-left:18px;
}

#secondary-page .category .buy a::before {
    content: url(images/External\ Link.png);
    position: absolute;
    left: -5px;
    top: -2px;
}



#featured-product .products {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(4, 341px);
    gap: 12px;
}

#featured-product .product {
    position: relative;
    height: 473px;
    border: 1px solid var(--3rd-color);
    border-radius: 10px;
}

#featured-product .product hr {
    position: absolute;
    background-color: var(--3rd-color);
    opacity: 0.5;
    width: 234px;
    transform: translate(-50%, -50%);
    left: 50%;
    bottom: 124px;
}

#featured-product .product .image img {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 32%;
}

#featured-product .product .colors{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    left: 37px;
    bottom: 224px;
}

#featured-product .product .colors :nth-child(1) {
    background-color: #000000;
}

#featured-product .product .colors :nth-child(2){
    background-color: var(--primary-color);
    border: 2px solid var(--3rd-color);
}

#featured-product .product .colors .circle {
    width: 21px;
    height: 21px;
    border-radius: 50%;
}
#featured-product .product .colors .circle:hover{
    cursor: pointer;
}

#featured-product .product .stars{
    position: absolute;
    bottom: 57px;
    transform: translateX(-50%);
    left: 50%;
}

#featured-product .product .details h2 {
    font-size: 14px;
    font-weight: 500;
    color: var(--secondary-color);
    text-align: center;
    margin-bottom: 5px;
}

#featured-product .product .details p {
    font-size: 12px;
    color: var(--secondary-color);
    white-space: pre-line;
}

#featured-product .product .details {
    position: absolute;
    bottom: 154px;
    transform: translateX(-50%);
    left: 50%;
}

#featured-product .product .price p {
    position: absolute;
    bottom: 82px;
    transform: translateX(-50%);
    left: 50%;
    font-size: 14px;
    font-weight: bold;
    font-style: italic;
    color: var(--secondary-color);
}

#featured-product .product .carte-button p {
    font-family: orbitron;
    font-size: 16px;
    color: var(--secondary-color);
}

#featured-product .product .carte-button {
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    bottom: -25px;
    height: 51px;
}

#featured-product .product .carte-button button {
    border-radius: 10px;
    border: 1px solid var(--3rd-color);
    padding: 13px;
    background-color: var(--primary-color);
}

#featured-product .product:hover {
    border: 1px solid var(--5th-color);
}

#featured-product .carte-button button:hover p {
    color: var(--primary-color);
}

#featured-product .product .carte-button button:hover{
    cursor: pointer;
    background-color: var(--5th-color);
}

#offers .container {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: center;
   
}


