:root {
    --primary-color: #FFFF;
    --secondary-color: #000000;
    --3rd-color: #CECDCD;
}

* {
    box-sizing: border-box;
    font-optical-sizing: auto;
    font-style: normal;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Kufam", sans-serif;
    color: var(--primary-color);
}

.container {
    padding: 0 30px 0;
    margin: auto;
    overflow: hidden;
}

#landing-page {
    background-image: linear-gradient(to bottom right, #3A0909, #000000);
    height: 100vh;
    background-position: center;
    background-size: cover;
}

#landing-page nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0 0;
    color: var(--secondary-color);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#landing-page .logo img {
    height: 60px;
    width: 60px;
    border-radius: 50%;
}

#landing-page nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

#landing-page nav li {
    list-style: none;
    padding: 0px 35px 0px;
}

a {
    text-decoration: none;
}

#landing-page nav a {
    color: var(--primary-color);
    font-size: 20px;
}

#landing-page .parent {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

#landing-page .home .container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;
}

#landing-page .home #title {
    font-size: 36px;
    font-weight: 500px;
    margin-bottom: 30px;
}

#landing-page .home #text {
    font-size: 16px;
    line-height: 1.6;
    color: var(--3rd-color);
    margin-bottom: 30px;
}

#landing-page .home .image img {
    width: 500px;
    height: 500px;
}

#landing-page .home button {
    width: 161px;
    height: 51px;
    border-radius: 6px;
    background-color: #FFFF;
}

#landing-page .home button a p {
    font-family: "Kufam", sans-serif;
    font-size: 24px;
    font-weight: 500;
    color: var(--secondary-color);
}

#landing-page .home button:hover {
    cursor: pointer;
}


#secondary-page,#featured-product {
    margin-top: 200px;
    height: 1200px;
    background-color: #FFFF;
}
#secondary-page .title h1,#featured-product .title h1{
    font-family: Orbitron;
    font-size: 32px;
    font-weight: bold;
    color: #000000;
    margin-bottom: 40px;
    text-align: center;
}
#secondary-page .categories {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 54px;
}

#secondary-page .category {
    position: relative;
    background-color: rgba(244, 244, 244, 1);
    height: 317px;
}

#secondary-page .category h1 {
    color: #000;
    font-family: Orbitron;
    font-size: 30px;
    font-weight: 400;
    white-space: pre-line;
    position: absolute;
    top: 41px;
    left: 41px;
}

#secondary-page .category img {
    position: absolute;
    bottom: 0;
    right: 0;
}

#secondary-page .category:nth-child(1) img {
    width: 205px;
    height: 406px;
    bottom: -69px;
    right: -8px;
}

#secondary-page .category:nth-child(2) img {
    width: 200px;
    height: 293px;
}

#secondary-page .category:nth-child(3) img {
    width: 180px;
}

#secondary-page .category:nth-child(4) img {
    width: 253px;
    bottom: -16px;
}

#secondary-page .category:nth-child(5) img {
    width: 160px;
    height: 300px;
}

#secondary-page .category:nth-child(6) img {
    width: 250px;
}
#secondary-page .category .buy{
    position: absolute;
    bottom: 32px;
    left: 41px;
}
#secondary-page .category .buy img {
    width: 20px;
    height: 20px;
}

#secondary-page .category .buy p {
    font-family: Orbitron;
    font-size: 13px;
    color: #A91B1B;
}

#secondary-page .category .buy a {
    position: relative;
    display: inline-block;
    padding-left:18px;
}

#secondary-page .category .buy a::before {
    content: url(images/External\ Link.png);
    position: absolute;
    left: -5px;
    top: -2px;
}



